/*CSS Copyright 2009 by the Lutheran Church of Our Savior, Haddonfield. */

/*Overall Stuff*/
body {
	background-color: #FFF;
	margin: 0;
}

/*Header*/

#mainhead {
	position: absolute; top: 0px; left: 180px;
	height: 65px;
	text-align: center;
	width: 700px;
}


/*Top/Left Corner (Blank Space)*/
#block {
	position: absolute; top: 0px; left: 0px;
	width: 180px;
	height: 65px;
	background-color: #006;
}

/*Navigation Bar*/

#navi ul {
	margin: 0;
	padding: 0;
	list-style: none;
	width: 170px;
	border-bottom: 1px solid #FFF;
	}

#navi ul li {
	position: relative;
	}

#navi li ul {
	position: absolute;
	left: 169px;
	top: 0;
	display: none;
	}

#navi ul li a {
	display: block;
	text-decoration: none;
	color: #FFF;
	background: #006;
	padding: 5px;
	border-top: 1px solid #FFF;
	border-bottom: 0;
	}

#navi ul li a:hover {
	color: #CFF;
}

#navi li:hover ul, #navi li.over ul { display: block;}

#navi {
	position: absolute; top: 65px; left: 0px;
	width: 175px;
	background-color: #006;
	height: 900px;
	padding-left: 5px;
	font-family: arial;
	font-weight: bold;
	z-index: 1;
}


/*Page Content*/
#container {
	background-color: #FFF;
	position: absolute; left: 175px; top: 65px;
	height: 900px;
	width: 700px;
}

#address {
	font-weight: bold;
	text-align: center;
}

#content {
	margin: 15px;
}

#content img {
	float: right;
	padding: 5px;
}

#worship {
	padding: 10px;
	border-top: 2px solid #006;
	border-bottom: 2px solid #006;
	overflow: auto;
}

.mainhead {
	text-align: center;
	font-weight: bold;
	font-size: 125%;
	padding-top: 15px;
}

.minihead {
	color: #006;
	font-weight: bold;
	text-align: center;
	font-size: 105%;
}

.center, #altarguild, #layreaders {
	text-align: center;
}

.underline {
	text-decoration: underline;
}

#content a {
	text-align: center;
	color: #069;
	text-decoration: none;
	font-weight: bold;
}

#content a:hover {
	text-decoration: underline;
}

td {
	 border: 1px solid black;
	padding: 0px;
}

#email td {
	height: 16px;
	width: 320px;
}

#content .messengerlink a {
	text-align: center;
	display: block;
	background-color: #006;
	padding: 7px 0px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

#content .messengerlink a:hover {
	text-decoration: underline;
	color: #CFF;
}

#content .musiclink a {
	text-align: center;
	display: block;
	background-color: #600;
	padding: 7px 0px;
	color: #FFF;
	text-decoration: none;
	font-weight: bold;
}

#content .musiclink a:hover {
	text-decoration: underline;
	color: #FFF;
}

#content marquee {
	text-align: center;
	font-family: arial;
	font-weight: bold;
	color: #006;
}

#footer {
	color: #006;
	text-align: center;
	padding: 50px 0px;
}

#sidebar {
	position: absolute; left: 875px; top: 65px;
}
