<% @title = "LCOS: Communications Volunteer Opportunities" %>

<% content_for :content_header do %>
<p class="mainhead">Communications Volunteer Opportunities</p>
<% end %>

<p><strong>Bulletin Board</strong> volunteers assist in updating the bulletin boards and display spaces throughout the church.</p>
