<% @title = "LCOS: Fellowship Volunteer Opportunities" %>

<% content_for :content_header do %>
<p class="mainhead">Fellowship Volunteer Opportunities</p>
<% end %>

<p><strong>Baby Boomers</strong> volunteers plan activities for “Baby Boomers” – loosely defined as those born between 1946 and 1964 – and their families.</p>
<p><strong>Church Picnic</strong> volunteers provide a fun day of fellowship for LCOS families.  The event is held at Camp Moore in Voorhees on a Sunday afternoon in early August.  Attendees are asked to bring a dessert or salad; the church provides hotdogs, hamburgers and beverages.</p>
<p><strong>Faith Circle</strong> members offer fellowship among women pursuing spiritual, educational and intellectual growth.  Faith Circle meets the third Monday of the month at noon.  The members bring a bag lunch and a dessert is provided.</p>
<p><strong>Friendly Visitors</strong> communicate and visit with homebound members of LCOS, to let them know that they are remembered and valued.</p>
<p><strong>Funeral Luncheon Committee</strong> volunteers plan funeral luncheons upon request of the family.  The volunteers set up and serve the luncheon.  They also supplement the luncheon with salads and desserts.</p>
<p><strong>Good Times Committee</strong> members promote fellowship within the congregation through the planning of social activities for members of all ages, including Fastnacht, progressive dinners, the Mother/Daughter luncheon, and the Father/Son event.</p>
<p>The <strong>Greeting Card Ministry</strong> writes and sends cards of acknowledgment to members of LCOS.</p>
<p><strong>LAFF (Lutheran Adults, Family and Friends)</strong> volunteers promote fellowship within the congregation through the planning of social activities for members, especially those in the 20’s to 40’s age group.  Events may be just for adults or for families with children.</p>
<p><strong>Progressive Dinner</strong> volunteers plan and host progressive dinners with other LCOS members.</p>
<p><strong>Softball Team Members</strong> participate in fellowship and fun by playing on the LCOS softball team, which competes against other churches in the local area.  The games are played on Sunday afternoons and weekday evenings during spring and summer.</p>
<p><strong>Sunday Van Drivers</strong> provide transportation to and from church for a fellow member so that the member may attend worship services.</p>
<p><strong>Weekly Mothers’ Group</strong> members provide an opportunity for a group of mothers/caregivers of young children to meet for casual conversation and play time for the children.  The group is non-denominational and attendees do not have to be members of the church.  The group meets on Monday and Thursday mornings from 10:00 a.m. to noon.</p>
<p><strong>Women of the ELCA</strong> welcomes women from LCOS and other congregations to participate in the activities of the Evangelical Lutheran Church of America.</p>
