<% @title = "LCOS: Property Volunteer Opportunities" %>

<% content_for :content_header do %>
<p class="mainhead">Church Property Volunteer Opportunities</p>
<% end %>

<p>The <strong>Gardening Group</strong> designs, procures, plants, and tends the gardens surrounding the church buildings.</p>
<p>The <strong>Kitchen Clean-up/Organization Group</strong> maintains the cleanliness and organization of the church kitchen.  Teams of volunteers also perform periodic “spring cleanings”.</p>
<p>The <strong>Thursday Morning Work Group</strong> performs small maintenance tasks around the church building and grounds.  The group meets Thursday mornings at 8:30 a.m. from September through June.</p>
