<% @title = "LCOS: About LCOS" %>

<% content_for :content_header do %>
<p class="mainhead">About LCOS</p>
<% end %>

<p class="center">Our Savior was founded on Aug. 8, 1927. The first worship was held in a store on Haddon Avenue in Haddonfield. The founders purchased the steelwork of the Church of the Americas constructed at the Sesquicentennial Exposition in Philadelphia and erected the structure at its current location, the corner of Wood Lane and Wayne Avenue in Haddonfield. Our Savior was dedicated on May 6, 1928. The Rev. Benjamin G. Lotz was the first pastor.</p>
<p class="center">Our Savior is a faith community that worships Jesus as our Lord, proclaims and shares God's Word, welcomes all people, serves human needs, and nurtures personal and spiritual growth through fellowship, all to the glory of God.</p>
<p class="center">Our members are a diverse group, which represents more than 10 communities in at least three New Jersey counties, as well as families who have moved out of state. We respect each other's beliefs and feelings. We understand our strengths and weaknesses. We pray that, together, we can serve the Lord through our actions.</p>
<p class="center">Our services are a celebration, through song and prayer, of the Lord, complemented by professional-quality choirs. We are a liturgical church, which means we understand worship to be the "work of the people" and not a show for entertainment. As such, the people gathered for worship are participants in God's divine drama as lived out through the singing of hymns and liturgy, and spoken by our responses and prayers.</p>
<p class="center">We understand faith is a lifelong journey that begins in baptism and is modeled first and foremost by parents. At special times in children's faith journey until high school graduation, we make the time to bless the child, gift the family, and call parents to the promises they made at their child's baptism.</p>
<p class="center">Together we gather at the Lord's Table, where everyone is welcome and all receive the gifts of forgiveness and healing offered in the body and blood of Christ.

