<% @title = "LCOS: Fellowship" %>

<% content_for :content_header do %>
<p class="mainhead">December Fellowship Together</p>
<% end %>

<p class="minihead">Annual Christmas Caroling at Coles Landing</p>
<p class="center">
Come one, come all-EVERYONE INVITED, to join in the fun at Coles Landing on Sunday, December 20th.  
Meet at church at 1:45 PM or the complex on
Coles Landing Road at 2:00 PM.  Wear your holiday colors and bring your cheerful voices to sing some Christmas Carols with the residents of the senior complex.  Always a good time, complete with refreshments!  Give an hour of your time---you will get so much more in return!
</p>
<p class="minihead">Dates to Hold in 2010</p>
<p class="center">Tues., February 16th Fastnacht and Sat., April 17th Mother/Daughter</p>

