<% content_for :content_header do %> 
<div id="address">The Rev. P. Wayne Zschech, Senior Pastor | The Rev. Glenn A. Englehardt, Associate Pastor <br />
204 Wayne Avenue, Haddonfield, NJ 08033 <br />
(856) 429-5122 (Voice) | (856) 429-7245 (Fax)</div>
<br />
<% end %>

<div id="worship">
<img src="images/churchexterior.jpg" alt="LCOS" width="354" height="267" border="0"/>
<p class="minihead">Worship</p>
<p class="center">
<b>Saturday</b><br />
<b>5 PM:</b> Contemporary "Alive" Worship Service with Guitar accompaniment<br /></p>
<p class="center">
<b>Sunday</b><br />
<b>8 and 10:30 AM:</b> Traditional/Classic with Holy Communion on first and third Sunday of month. <br />
<b>9:15 AM:</b> Reflections Worship with Holy Communion every Sunday.
<!--- <b>Summer Services</b> are held at 8:00 a.m. and 10:00 a.m with Holy Communion on the first and third Sunday of the month.  Nursery provided at 10:00 a.m. for children to age 3.</p> --->
</div>
<p class="minihead">Mission Statement</p>
<p class="center">The Evangelical Lutheran Church of Our Savior is a faith community that worships Jesus as our Lord, proclaims and shares God's Word, welcomes all people, serves human needs, and nurtures personal and spiritual growth through fellowship all to the glory of God.</p>

<p class="messengerlink"><b><a href="./messenger/April2010.pdf">Download the April Messenger Here!</a></b></p>

<p class="musiclink"><b><a href="http://www.facebook.com/pages/Haddonfield-NJ/Lutheran-Church-of-Our-Savior/106511943313">LCOS is now on Facebook: Become a Fan!</a></b></p>

<marquee>Each Sunday: Adult Forum at 
9:15 am in the Parlor . . . Each Saturday: Saturday Night Alive Worship 
Service, beginning at 5 pm . . . Tues. April 27: Senior Game Day at 
noon . . . Sun. May 2: Newcomer Class from 9:15 to 10:15am; Show Tunes 
Sing-a-long at Coles Landing at 2:00pm . . . Sat. May 8: Newcomer Class 
from 11:00am to noon . . . Sun. May 9: Youth Ministry Pancake Breakfast 
from 9:00 to 10:15am; Mother’s Day Musical at 10:30am Service . . 
. Thurs. May 13: Newcomer Class from 7:30 to 8:30pm . . . Sun. May 16: 
Confirmation at 10:30am Service . . . Tues. May 18: Newcomer Class from 
7:30 to 8:30pm . . . Fri. May 21: Spaghetti Dinner to benefit Summer 
Youth Mission Trip with seatings at 5:00, 6:00 and 7:00pm in the Parish 
Hall . . . Sun. May 23: Pentecost; New Members received . . . Tues. 
May 25: Senior Game Day at noon . . . Sun. May 30: Summer Worship begins 
with Services at 8:00 and 10:00am, and Sticky Situations class at 9:15 
to 9:45am; Wiggle Worship for children ages 3 to 8 at the 10:00am Service 
. . . July 26 to 30: Vacation Bible School for ages four thru entering 
fifth grade, from 9:00am to noon . . . Collection Drives: Bosnia Fundraiser 
thru May 23; School supplies for IHOC from May 30 thru August 22 . . 
.</marquee>

<br />

<div id="footer">Copyright 2010<br />
Lutheran Church of Our Savior Haddonfield<br />
<a href="mailto:info@oursaviorhaddonfield.org">info@oursaviorhaddonfield.org</a></div>
