<% @title = "LCOS: Web Site Archives" %>

<% content_for :content_header do %>
<p class="mainhead">Past Sermons</p>
<% end %>

<p class="minihead">Winter and Spring 2007</p>
<p class="center">
<a href="sermons/1Lent2007.doc">February 25, 2007- First Sunday in Lent</a><br />
<a href="sermons/5Lent2007.doc">March 25, 2007- Fifth Sunday in Lent</a><br />
<a href="sermons/Maundy2007.doc">April 5, 2007- Maundy Thursday</a><br />
<a href="sermons/EasterSunday2007.doc">April 8, 2007- Easter Sunday</a><br />
<a href="sermons/5Easter2007.doc">May 6, 2007- Fifth Sunday in Easter</a></p>
<p class="minihead">Fall 2007</p>
<p class="center">
<a href="sermons/16Pentecost2007.doc">September 23, 2007- 16th Sunday After Pentecost</a><br />
<a href="sermons/19Pentecost2007.doc">October 7, 2007- 19th Sunday After Pentecost</a><br />
<a href="sermons/20Pentecost2007.doc">October 14, 2007- 20th Sunday After Pentecost</a><br />
<a href="sermons/Reformation2007.doc">October 28, 2007- Reformation Sunday</a><br />
<a href="sermons/23Pentecost2007.doc">November 18, 2007- 23rd Sunday After Penecost</a>
</p>
<p class="minihead">Advent and Christmas 2007</p>
<p class="center">
<a href="sermons/1Advent2007.doc">December 2, 2007- 1st Sunday of Advent</a><br />
<a href="sermons/2Advent2007.doc">December 9, 2007- 2nd Sunday of Advent</a><br />
<a href="sermons/4Advent2007.doc">December 23, 2007- 4th Sunday of Advent</a><br />
</p>
<p class="minihead">Winter and Spring 2008</p>
<p class="center">
<a href="sermons/EpiphanyofOurLord2008.doc">January 6, 2008- Epiphany of Our Lord</a><br />
<a href="sermons/3Easter2008.doc">April 6, 2008- Third Sunday of Easter</a><br />
<a href="sermons/4Easter2008.doc">April 13, 2008- Fourth Sunday of Easter</a><br />
<a href="sermons/6Easter2008.doc">April 27, 2008- Sixth Sunday of Easter</a><br />
<a href="sermons/PentecostDay2008.doc">May 11, 2008- Pentecost Sunday</a><br />
<a href="sermons/HolyTrinity2008.doc">May 18, 2008- Holy Trinity Sunday</a><br />
<a href="sermons/3Pentecost2008.doc">June 1, 2008- Third Sunday after Pentecost</a><br />
</p>
<p class="minihead">Summer 2008</p>
<p class="center">
<a href="sermons/8Pentecost2008.doc">July 6, 2008- Eighth Sunday after Pentecost</a><br />
<a href="sermons/11Pentecost2008.doc">July 27, 2008- Eleventh Sunday after Pentecost</a><br />
<a href="sermons/12Pentecost2008.doc">August 3, 2008- Twelfth Sunday after Pentecost</a><br />
<a href="sermons/13Pentecost2008.doc">August 10, 2008- Thirteenth Sunday after Pentecost</a><br />
<a href="sermons/15Pentecost2008.doc">August 24, 2008- Fifthteenth Sunday after Pentecost</a><br />
</p>
