<% @title = "LCOS: Press Releases" %>

<% content_for :content_header do %>
<p class="mainhead">Press Releases</p>
<% end %>

<p class="center">
<a href="pressreleases/DayOfPrayer.doc">Monday, April 28, 2008- National Day of Prayer</a><br />
<a href="pressreleases/TaiChiClasses.doc">Monday, April 28, 2008- Tai Chi Classes</a><br />
<a href="pressreleases/VacationBibleSchool.doc">Tuesday, April 29, 2008- Vacation Bible School</a>
</p>
