<% @title = "LCOS: Sermons" %>

<% content_for :content_header do %>
<p class="mainhead">Sermons</p>
<% end %>

<p class="minihead">Older sermons can now be found <a href="pastsermons.html">here.</a></p>
<p class="minihead">Fall 2008</p>
<p class="center">
<a href="sermons/17Pentecost2008.doc">September 7, 2008- Seventeenth Sunday after Pentecost</a><br />
<a href="sermons/18Pentecost2008.doc">September 14, 2008- Eighteenth Sunday after Pentecost</a><br />
<a href="sermons/21Pentecost2008.doc">October 5, 2008- Twenty-first Sunday after Pentecost</a><br />
<a href="sermons/22Pentecost2008.doc">October 12, 2008- Twenty-Second Sunday after Pentecost</a><br />
<a href="sermons/Reformation2008.doc">October 26, 2008- Reformation Sunday</a><br />
<a href="sermons/ChristtheKingSunday.doc">November 23, 2008- Christ the King Sunday</a><br />
</p>
<p class="minihead">Advent and Christmas 2008</p>
<p class="center">
<a href="sermons/2Advent2008.doc">December 7, 2008- Second Sunday of Advent</a><br />
<a href="sermons/ChristmasEve2008.doc">December 28, 2008- Christmas Eve</a><br />
</p>
<p class="minihead">Winter 2009</p>
<p class="center">
<a href="sermons/2Christmas2009.doc">January 4, 2009- Second Sunday after Christmas</a><br />
<a href="sermons/Transfiguration2009.doc">February 22, 2009- Transfiguration Sunday</a><br />
<a href="sermons/AshWednesday2009.doc">February 25, 2009- Ash Wednesday</a><br />
<a href="sermons/1Lent2009.doc">March 1, 2009- First Sunday in Lent</a><br />
<a href="sermons/Stones3.doc">March 8, 2009- Second Sunday in Lent</a><br />
</p>
