<% @title = "LCOS: Church Finance Volunteer Opportunities" %>

<% content_for :content_header do %>
<p class="mainhead">Church Finance Volunteer Opportunities</p>
<% end %>

<p><b>Audit Committee</b> members perform annual audits of the cash books and accounts of LCOS.</p>
<p><b>Memorial Gifts Board</b> members manage and allocate funds donated to the church in memorial gifts.</p>
<p><b>Offering Counters</b> count and record the offerings collected by LCOS in an accurate and timely manner.  The count is performed following the last service each Sunday.  Counters volunteer for one month per year, and serve approximately two hours each Sunday during that month.  Additional time may be required during months with special services.</p>
