<% @title = "LCOS: Additional Volunteer Opportunities" %>

<% content_for :content_header do %>
<p class="mainhead">Additional Volunteer Opportunities</p>
<% end %>

<p class="minihead">Administrative and Office Volunteers</class>
<p><strong>Messenger Helpers</strong> assist the Parish Secretary in preparing The Messenger for mailing.</p>
<p><strong>Office Helper (Filing/Data Entry)</strong> volunteers assist the Parish Secretary in general office tasks.</p>
<p class="minihead">Child Care Volunteers</p>
<p><strong>Sunday Nursery Assistants</strong> help the Nursery Attendant in caring for children, ages three and under, in the church nursery during the 9:15 and 10:30 church services (10:00 a.m. service in the summer).</p>
<p><strong>Special Event Nursery Attendants</strong> care for children, ages three and under, in the church nursery during church events such as the Lenten Soup Dinner and Bible Study.</p>
