<% @title = "LCOS: Outreach Volunteer Opportunities" %>

<% content_for :content_header do %>
<p class="mainhead">Outreach Volunteer Opportunities</p>
<% end %>

<p><strong>Children’s Church</strong> volunteers plan and assist the pastor in conducting a special pre-school friendly worship service for parents and children the third Wednesday of each month.  The service begins at 7:00 p.m. and is one-half hour long.</p>
<p><strong>College Care Package</strong> volunteers prepare packages of treats, phone cards, The Messenger, and church Bulletins and send them twice a year to members living away at college.  The program is supported by donations from the congregation.</p>
<p>The <strong>Cookie Patrol</strong> makes and delivers a gift of cookies to visitors and invites them to return.</p>
<p><strong>Greeters</strong> greet worshippers and assist visitors as they arrive at the ground floor entrance lobby for Sunday services.</p>
