<% @title = "LCOS: Senior Ministries" %>

<% content_for :content_header do %>
<p class="mainhead">Senior Ministry Volunteer Opportunities</p>
<% end %>

<p><strong>Senior Activities/Trips</strong> volunteers coordinate bus trips and activities for seniors at LCOS, such as visits to museums, Radio City Music Hall in New York City, and the Reading Terminal Market in Philadelphia.</p>
<p><strong>Senior Game Day</strong> volunteers plan, purchase, and prepare food for a gathering of local seniors for lunch, games and fellowship.  The event is free, but participants are encouraged to bring a donation of a canned good for the LCOS pantry.  Senior Game Day is held the last Tuesday of each month at noon.</p>
