<% @title = "LCOS: Social Ministries Volunteer Opportunities" %>

<% content_for :content_header do %>
<p class="mainhead">Social Ministries Volunteer Opportunities</p>
<% end %>

<p><strong>Advent Giving Tree Helpers</strong> assist with the annual Advent Giving Tree project, to fulfill Christmas wishes for local families in need.  Tasks include contacting agencies for names of recipients, making tree tags, maintaining logs and organizing deliveries.  Planning begins in the fall.</p>
<p><strong>Blood Drive Volunteers</strong> assist the Red Cross Blood Drive coordinator at LCOS by calling donors to remind them of the drives, hanging posters, and coordinating the event with the Red Cross on the date of the drive.</p>
<p><strong>Easter Basket Helpers</strong> assist with the annual Easter basket project for local families in need.  Tasks include soliciting donations of materials, assembling and decorating baskets, and arranging deliveries.</p>
<p><strong>Meal Preparation/Delivery</strong> volunteers purchase and prepare a homemade meal for a group of approximately 14 teenage girls in a court-mandated counseling program at My Father’s House in Gloucester City.  Volunteers may deliver the meals themselves or have another volunteer deliver.  Meals are prepared and delivered on Tuesday afternoon, before 4:00 p.m.  Meals can also be prepared in advance and placed in the freezer or refrigerator in the church kitchen.</p>
<p><strong>Pantry Packers or Deliverers</strong> organize, pack and deliver food and personal supplies for local adults and children in need.  Bags are packed any time between Sunday and Wednesday afternoon, and are delivered any time between Wednesday and Friday.</p>
<p><strong>Working Arm</strong> members construct garments and useful items, such as quilts, lap robes, and baby layettes, for those in need.  The group meets the first Thursday of every month from September to June, from 9:30 a.m. to noon.</p>
