<% @title = "LCOS: Web Site Archives" %>

<% content_for :content_header do %>
<p class="mainhead">Archives</p>
<% end %>

<p class="minihead"><a href="pastsermons.html">Past Sermons</a></p>
<p class="minihead"><a href="pastmessengers.html">Past Messengers</a></p>
