<% @title = "LCOS: Our Pastors" %>

<% content_for :content_header do %>
<p class="mainhead">Our Pastors</p>
<% end %>

<p class="center"><a href="pastorwaynebio.html">Pastor P. Wayne Zschech</a><br />
<a href="pastorebio.html">Pastor Glenn A. Englehardt</a></p>
