<% @title = "LCOS: Our Choirs" %>

<% content_for :content_header do %>
<p class="mainhead">Our Choirs</p>
<% end %>

<p class="center"><b>Patricia Shaw-Green,</b> <i>Director of Music</i><br />
<b>Linda Powell,</b> <i>Cherub Choir Director</i></p>
<p><b>Adult Vocal Choir</b> performs at the 10:30 a.m. Sunday service, and holiday services.  Rehearsals are on Thursday evenings from 8:00 to 9:30 p.m. from September to June.</p>
<p><b>Adult Bell Choir</b> performs on occasional Sundays at the 10:30 a.m. service.  Rehearsals are on Thursday evenings from 7:00 to 8:00 p.m.</p>
<p><b>Youth Vocal Choir,</b> for youth grades six through 12, performs occasional Sundays at the 10:30 a.m. service.  Rehearsals are on Wednesday evenings from 8:00 to 9:00 p.m.</p>
<p><b>Youth Bell Choir</b> performs occasional Sundays at the 10:30 a.m. service.  Rehearsals are on Wednesday evenings from 7:00 to 8:00 p.m.</p>
<p><b>Children’s Vocal Choir,</b> for children grades three through six, performs occasional Sundays at the 9:15 a.m. service.  The choir also performs in May for a Sunday School Cantata, and on Christmas Eve.  Rehearsals are on Wednesday from 4:00 to 4:45.</p>
<p><b>Children’s Bell Choir</b> performs occasional Sundays at the 10:30 a.m. service.  Rehearsals are on Wednesday from 4:45 to 5:30 p.m.</p>
<p><b>Cherub Choir,</b> for children ages three through second grade, performs one Sunday a month at the 10:30 a.m. service.  The choir also performs in May for a Sunday School Cantata, and at the early service on Christmas Eve.  Rehearsals are on Wednesday from 4:30 to 5:00 p.m.</p>
