<% @title = "LCOS: Contact Us" %>

<% content_for :content_header do %>
<p class="mainhead">Contact Us</p>
<% end %>

<div id="address">204 Wayne Avenue, Haddonfield, NJ 08033<br />
(856) 429-5122 (Voice) (856) 429-7245 (Fax)</div>
<div id="email"><p class="minihead">Email</p>
    <table cellspacing="1" cellpadding="1">
      <tr valign="top">
        <td><b>The Rev. Wayne Zschech, Senior Pastor</b></td>

        <td><i><a href="mailto:wzschech@yahoo.com">wzschech@yahoo.com</a></i></td>
      </tr>
      <tr valign="top">
        <td><b>The Rev. Glenn A. Englehardt, Assoc. Pastor</b></td>
        <td><i><a href="mailto:pastorge@oursaviorhaddonfield.org">pastorge@oursaviorhaddonfield.org</a></i></td>
      </tr>
      <tr valign="top">

        <td><b>Monica Ebbenga, Parish Secretary</b></td>
        <td><i><a href="mailto:highlysung@verizon.net">highlysung@verizon.net</a></i></td>
      </tr>
	<tr valign="top">

	<td><b>Cindy Randall, Office Assistant</b></td>
	<td><i><a href="mailto:info@oursaviorhaddonfield.org">info@oursaviorhaddonfield.org</a></i></td>
	</tr>
      <tr valign="top">
        <td><b>Patricia Shaw-Green, Director of Music</b></td>
        <td><i><a href="mailto:pmar53@aol.com">pmar53@aol.com</a></i></td>
      </tr>

      <tr valign="top">
        <td><b>Eric Ebbenga, Organist</b></td>
        <td><i><a href="mailto:iplaytunes@verizon.net">iplaytunes@verizon.net</a></i></td>
      </tr>
    </table></div>
