<% @title = "LCOS: Directions" %>

<% content_for :content_header do %>
<p class="mainhead">Directions</p>
<% end %>

<div id="address">204 Wayne Avenue, Haddonfield, NJ<br />
(at the corner of Wood Lane and Wayne Avenue)</div>
<p class="underline">From the Benjamin Franklin Bridge</p>
<p>Follow Rt. 30 to Rt. 38/70 East until they split.  Continue on Rt. 70 East to the intersection of Rt. 70 and Haddonfield Road/Grove Street.  Turn right toward Haddonfield on Grove Street.  At Maple Avenue (2nd light) turn right to Wayne (1st left).  Turn left onto Wayne Avenue to the church.  Travel time from the bridge to the church is not more than 15 minutes.</p>

<p class="underline">From Northern New Jersey</p>
<p>Leave the NJ Turnpike at Exit 4 and take Rt. 73 North (toward Philadelphia) to Rt. 38 West (about 1 mile).  Follow Rt. 38 West to Haddonfield Rd. (just past the Cherry Hill Mall).  Take Haddonfield Rd. South towards Haddonfield.  Cross Rt. 70 intersection.  At 2nd light (Maple Avenue) turn right.  At the first left, turn onto Wayne Avenue and continue to the church.  Travel time from Exit 4 to the church is not more than 20 minutes.</p>
<p>(If you choose to leave the Turnpike at Exit 7 (Bordentown) or Exit 5 (Mt. Holly) and travel on I-295 South, you can get directly onto Rt. 38 West in Moorestown and follow the directions above, or continue to Rt. 561 and follow the directions below.)</p>

<p class="underline">From Walt Whitman Bridge and Southern New Jersey</p>
<p>Exit I-295 at Rt. 561 (Haddonfield-Berlin Rd.).  Turn left toward Haddonfield.  As you enter Haddonfield (about 2 miles), the road forks – go left onto Ellis Street.  At the top of the hill (Acme on left), bend to the right onto Haddon Avenue.  Cross Kings Highway and continue west on Haddon until you see a Sunoco gas station.  Turn right onto Wayne Avenue to the church.  Travel time from I-295 to the church is less than 10 minutes.</p>
