<% @title = "LCOS: Opportunities for Spiritual Growth" %>

<% content_for :content_header do %>
<p class="mainhead">Opportunities for Spiritual Growth</p>
<% end %>

<p><b>Affirmation of Baptism (Confirmation)</b> is made each May by eighth graders who have completed the two year course of instruction for Confirmands.</p>
<p><b>Bible Study</b> meets on Monday evenings and Wednesday mornings during eight week sessions in the fall and early spring.  All are welcome to attend.</p>
<p><b>New Member Classes</b> are scheduled periodically for those considering becoming members of Our Savior.  The three-session classes focus on the history and beliefs of Lutherans and provide an orientation to the ministry of Our Savior.</p>
<p><b>Adult Forums</b> are informal study groups which meet each Sunday at 9:00 a.m. in the church parlor to discuss Christian teachings and social concerns.</p>
<p><b>Magonigal Lectures</b> are a two-week series of free lectures offered on Monday evenings in the spring, funded by a memorial gift from the estate of Helen Magonigal.</p>
