<% @title = "LCOS: Our Ministries" %>

<% content_for :content_header do %>
<p class="mainhead">Our Ministries</p>
<% end %>

<p class="center"><strong>Click on the names of the ministries in blue to view a list of that ministry's volunteer opportunities.</strong></p>
<p>The <a href="ministries/christianeducation.html">Christian Education Committee</a> plans, organizes, implements and oversees the programs at LCOS which provide Christian learning activities for children, youth and adults, including Sunday School, Confirmation Study, Adult Forums, Bible Study Groups, Vacation Bible School, Lenten Soup Dinners, and holiday events.</p>
<p>The <a href="ministries/communications.html">Communications Committee</a> facilitates, manages, and maintains an effective communication program that informs, educates, and encourages ministry within and beyond the congregation using all the communication methods available to them (e.g. bulletin boards, newsletters, web pages, and local newspapers).</p>
<p>The <b>Congregational Resources Committee</b> assesses the giving level of the congregation in light of the future needs of the church.  The committee also develops and implements the annual stewardship program.</p>
<p>The <a href="ministries/fellowship.html">Fellowship Development Committee</a> works to develop fellowship among the members of the congregation, through activities designed to bring the members together.</p>
<p>The <a href="ministries/finance.html">Finance Committee</a> participates in the preparation of the LCOS annual budget and monitors income and expenses throughout the year.  The committee assists in the development of the annual benevolence commitment.  The committee participates in expense control.</p>
<p>The <a href="ministries/outreach.html">Outreach Committee</a> reaches out to non-members and invites them to worship at LCOS.  The committee also studies the congregation’s relationship to the surrounding community.</p>
<p>The <b>Personnel Committee</b> oversees the personnel and staffing needs of the church.</p>
<p>The <a href="ministries/property.html">Property Committee</a> determines and arranges for the proper maintenance, protection and repair of all property of the congregation, including the church building and grounds.</p>
<p>The <a href="ministries/senior.html">Senior Ministries Committee</a> plans and assists with fellowship activities for senior members.</p>
<p>The <a href="ministries/socialministry.html">Social Ministry Committee</a> extends Christian compassion and helpfulness to persons in need, primarily in the local community.  The committee participates in a variety of benevolence projects and distributes funds allocated to the committee.</p>
<p>The <a href="ministries/worshipandmusic.html">Worship and Music Committee</a> assures that worship services are conducted regularly and in accordance with the appropriate liturgy.  The committee assists the Pastors, Director of Music and other choir directors to furnish music appropriate for use in worship.  The committee arranges for the provision of proper hymnals, devotional materials, and bulletins.  The committee also ensures the care of paraments, vestments, and musical instruments.  The committee determines that competent ushers and acolytes are recruited and trained.</p>
<p class="center"><a href="ministries/other.html">Additional Volunteer Opportunities</a></p>
