<% @title = "LCOS: Peaceful Silent Night" %>

<% content_for :content_header do %>
<p class="mainhead">Peaceful Silent Night</p>
<% end %>

<p class="minihead">Play the Music</p>
<p class="center">
<OBJECT ID="mediaPlayer"
CLASSID="CLSID:22d6f312-b0f6-11d0-94ab-0080c74c7e95" width="300" height="50"
CODEBASE="http://activex.microsoft.com/activex/controls/mplayer/en/nsmp2inf.cab#Version=5,1,52,701"
STANDBY="Loading Microsoft Windows Media Player components..."
TYPE="application/x-oleobject">
<PARAM NAME="fileName" VALUE="peacefulsilentnight/playall.wpl">
<PARAM NAME="animationatStart" VALUE="true">
<PARAM NAME="transparentatStart" VALUE="true">
<PARAM NAME="autoStart" VALUE="true">
<PARAM NAME="showControls" VALUE="true">
<PARAM NAME="ShowDisplay" VALUE="false">
<PARAM NAME="loop" VALUE="true">
</object>
</p>
<br />
<br />
<br />
<p class="minihead">Download the Music</p>
<p class="center">To download "Peaceful Silent Night", a CD produced by LCOS, click on the link below and save it to your computer.  This will download the songs as a "zipped" folder, which Windows will unzip when opened.  These are .mp3 files.</p>
<p class="center"><a href="peacefulsilentnight/PeacefulSilentNightMP3.zip">Peaceful Silent Night</a></p>
