<% @title = "LCOS: Schedules" %>

<% content_for :content_header do %>
<p class="mainhead">Schedules</p>
<% end %>

<p class="center">
<a href="AltarGuildSchedule.doc">Altar Guild Schedule</a><br />
<a href="ReaderSchedule.doc">Lay Reader Schedule</a><br />
<a href="AcolyteSchedule.doc">Acolyte Schedule</a><br />
<a href="CoffeeHourSchedule.doc">Coffee Hour Schedule</a><br />
<a href="2008ConfirmationSchedule.doc">Confirmation Schedule</a></p>
