<% @title = "LCOS: Services" %>

<% content_for :content_header do %>
<p class="mainhead">Services</p>
<% end %>

<p class="center"><b>Saturday</b></p>
<p><b>5:00 p.m.-</b> Contemporary "Alive" Worship Service with Guitar accompaniment</p>
<p class="center"><b>Sunday</b></p>
<p><b>8:00 and 10:30 am-</b> Traditional Service<br />
<b>9:15 a.m.-</b> Reflections Worship- The service features an interactive reflection and Communion by intinction.</p>
<br />
<p class="center">Nursery provided at 9:15 and 10:30 a.m. for children to age 3.  Sunday School is at 10:30 a.m. for children from age 3 through grade 6.</p>
<p class="center"><b>Summer Services</b> (Memorial Day weekend through Labor Day weekend) are held at 8:00 a.m. and 10:00 a.m.   Nursery provided at 10:00 a.m. for children to age 3.</p>
<p class="minihead">Facility Accommodations</p>

<ul>
<li>Handicap accessible</li>
<li>Barrier Free</li>
<li>Elevator</li>
<li>Air-conditioned</li>
<li>Amplification for the hearing impaired</li>
</ul>

