<% @title = "LCOS: Youth Group" %>

<% content_for :content_header do %>
<p class="mainhead">Youth Group in the New Year</p>
<% end %>

<p class="center">The youth group will have a “faith formation” meeting on Sunday, January 11.  Pastor Wayne will play a short video and then introduce talking points.</p>
<p class="center">January 25th is “Youth Sunday.” The senior high youth group will lead the day’s worship services.</p> 

