<% @title = "LCOS: Youth Programs" %>

<% content_for :content_header do %>
<p class="mainhead">Youth Programs</p>
<% end %>

<p><b>Sunday School</b> is offered on Sunday at 10:30 a.m. for children ages 3 through grade 6.</p>

<p>A <b>Nursery</b> is provided on Sunday at 9:15 and 10:30 a.m. for children to age 3.</p>

<p><b>Children’s Church</b> is held one evening a month at 7:00 p.m. for parents and children in a special half-hour service that is pre-school friendly.</p>

<p><b>Vacation Bible School</b> is offered for children from age 3 through grade 4 for one week in mid-summer.</p>

<p>Our <a href="youthgroup.html">Youth Groups</a> provide opportunities for youth in grades six through twelve to meet for fellowship and service.  The Groups also attend Lutheran retreats.  Senior Youth Group is for youth in grades nine through twelve, and Junior Youth Group is for youth in grades six through eight.  The groups meet every other Sunday, September
through May, from 7 to 8:30 p.m.</p>
